@tailwind base;
@tailwind components;
@tailwind utilities;


.animateUp{
    animation: animate 500ms ease-in 1;
}
@keyframes animate {
  0%{
    transform: scale(.8);
    opacity: 0;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}

.center{
  height: calc(100vh - 76.86 px);
}
